<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='catalog-stylesheet.css') }}">
</head>

<body><h1> Whoops! Something Went Wrong </h1>

<h2> It looks like you are not authorized to make changes or delete this item. </h2>

<h2> You may only edit/delete items that are registered to your account. </h2>

<h2> Since you are logged in, create your own jersey item! </h2>

</br>

<a href = '{{url_for('showSports')}}'> Click Here To Return To Homepage! </a>

</form>
</body>
</html>
